/* app css stylesheet */
body {
      margin-top:70px;
}

.checkbox {
    margin-left: 5px;
}


.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-left: 0px;
	transform: scale(1.5);
}

.title {
    padding-left: 10px;
}

.well {
    padding: 2px;
    margin-bottom: 0px;
	padding-bottom: 12px;
}

.most-right {
	float: right;
	padding-right: 10px;
}

.search {
    width: 40%;
    margin-bottom: 10px;
}
